*{
    font-family: 'Monaco', 'Courier New', monospace;
}

body{
    background-color: rgb(248, 226, 197);
}
.boton{
    background-color: grey;
    color:whitesmoke;
    border: none;
    border-radius: 5px; /*redondea las esquinas*/
    padding: 5px 10px; /* espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s, transform 0.3s; /* Transición del fondo y transf */
    margin-bottom: 15px;
}
.boton:hover{
    background-color: burlywood;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    transform: scale(1.1);
}

.Camisas, .Pantalones, .Tenis {
    background-color: rgb(255, 255, 240);
    display: flex;
    flex-wrap: wrap; /* Poner las tarjetas en filas*/
    justify-content: space-around; /* Espaciado uniforme entre las tarjetas */
    gap: 20px; /* Espaciado entre las tarjetas */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#camisa, #pantalon, #tenis{
    margin: 20px;
    margin-top: 50px;
}

footer {
    text-align: center;
}
#footer{
    color: black;
    display: inline-block; /* Ajusta el tamaño al contenido */
    background-color: rgb(255, 255, 240); /* Fondo del footer */
    padding: 10px 20px; /* Espaciado interno alrededor del texto */
    border-radius: 5px; /* Bordes redondeados (opcional) */
}
#titulo{
    color: black;
    display: inline-block; /* Ajusta el tamaño al contenido */
    background-color: rgb(255, 255, 240); /* Fondo del footer */
    padding: 10px 20px; /* Espaciado interno alrededor del texto */
    border-radius: 5px; /* Bordes redondeados (opcional) */
}